* {
  font-family: "Barlow";
}

a div:hover {
  background-color: #eee;
}

dialog {
  margin-top: 20px;
  overflow-x: auto;
  width: calc(100% - 20px);
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.175);
  border-radius: 0.5rem;
  outline: 0;
  padding: 0;
}

dialog::backdrop {
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);
}

.sidebarMenu {
  width: 14vw;
}

.responsiveContainer {
  margin-left: 14vw;
}

.responsiveHeader {
  display: initial;
}

.responsiveBadgeNotification {
  font-size: 0.4em !important;
  margin-top: 12px;
  margin-right: 20px;
}

.responsiveMenu {
  display: none;
}

.link-decoration-none > a {
  text-decoration: none;
  color: initial;
  font-weight: 500;
}

.activity-header td {
  background-color: #e9f3fc !important;
}

.activity-item {
  background-color: transparent;
  border: none;
}

.activity-bold {
  font-weight: bold;
}

.percentage-input {
  position: relative;
  display: inline-block;
}

.percentage-input input {
  margin-right: -15px;
}

.percentage-input::after {
  content: "%";
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

@media only screen and (max-width: 1280px) {
  .sidebarMenu {
    display: none;
  }

  .responsiveContainer {
    margin-left: 0;
  }

  .responsiveHeader {
    display: none;
  }

  .responsiveBadgeNotification {
    font-size: 0.45em !important;
    margin-top: 12px;
    margin-right: 75px;
  }

  .responsiveMenu {
    display: initial;
  }
}

.custom-navbar {
  background: linear-gradient(to bottom, white, rgb(219, 219, 219)); /* Vertical gradient */
}

.navbar-brand img {
  width: 150px; /* Default size for larger screens */
}

@media (max-width: 1024px) { /* Tablets and smaller devices */
  .navbar-brand img {
    width: 100px; /* Adjusts for smaller screens */
  }
}

@media (max-width: 768px) { /* Smartphones */
  .navbar-brand img {
    width: 80px; /* Further reduced for very small screens */
  }
}

.custom-container {
  width: 95%; /* Default width */
  margin: 0 auto; /* Centering */
  padding: 20px;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .custom-container {
    width: 98%; /* Slightly wider for tablets */
  }
}

@media (max-width: 768px) {
  .custom-container {
    width: 100%; /* Full width for mobile */
    padding: 15px;
  }
}


.add-title{
  color: #0A5EA8;
}