* {
  font-family: "Barlow";
}

a div:hover {
  background-color: #eee;
}

dialog {
  margin-top: 20px;
  overflow-x: auto;
  width: calc(100% - 20px);
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.175);
  border-radius: 0.5rem;
  outline: 0;
  padding: 0;
}

dialog::backdrop {
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);
}

.sidebarMenu {
  width: 14vw;
}

.responsiveContainer {
  margin-left: 14vw;
}

.responsiveHeader {
  display: initial;
}

.responsiveBadgeNotification {
  font-size: 0.4em !important;
  margin-top: 12px;
  margin-right: 20px;
}

.responsiveMenu {
  display: none;
}

.link-decoration-none > a {
  text-decoration: none;
  color: initial;
  font-weight: 500;
}

.activity-header td {
  background-color: #e9f3fc !important;
}

.activity-item {
  background-color: transparent;
  border: none;
}

.activity-bold {
  font-weight: bold;
}

.percentage-input {
  position: relative;
  display: inline-block;
}

.percentage-input input {
  margin-right: -15px;
}

.percentage-input::after {
  content: "%";
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

@media only screen and (max-width: 1280px) {
  .sidebarMenu {
    display: none;
  }

  .responsiveContainer {
    margin-left: 0;
  }

  .responsiveHeader {
    display: none;
  }

  .responsiveBadgeNotification {
    font-size: 0.45em !important;
    margin-top: 12px;
    margin-right: 75px;
  }

  .responsiveMenu {
    display: initial;
  }
}

.custom-navbar {
  /* background: linear-gradient(to bottom, white, rgb(219, 219, 219));  */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
  width: 150px;
}

@media (max-width: 1024px) { 
  .navbar-brand img {
    width: 100px; 
  }
}

@media (max-width: 768px) { 
  .navbar-brand img {
    width: 80px; 
  }
}

.custom-container {
  width: 95%; 
  margin: 0 auto;
  padding: 20px;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .custom-container {
    width: 98%; 
  }
}

@media (max-width: 768px) {
  .custom-container {
    width: 100%; 
    padding: 15px;
  }
}


.add-title{
  color: #0A5EA8;
}


/* Base Footer Styles */
footer {
  background-color: white;
  font-family: Arial, sans-serif;
  padding: 40px 80px;
  box-shadow: 0px -8px 8px rgba(202, 202, 202, 0.397);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 0 auto;
}

.footer-container div {
  flex: 1;
  margin: 10px;
  text-align: left;
}

.footer-container div h3 {
  color: #005BAA;
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-container div p {
  color: #005BAA;
  font-size: 16px;
  margin: 15px 0;
}

.footer-container div p a {
  color: #005BAA;
  text-decoration: none;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons a {
  color: #005BAA;
  font-size: 36px; /* Increased font size */
  margin: 0 10px;
}

.footer-bottom {
  margin-top: 20px;
  color: #005BAA;
  font-size: 14px;
  text-align: center;
}