:root {
  --primary-color: rgb(10,94,168);
  --secondary-color: rgba(8,84,159,1);
}


* {
  font-family: "Barlow";
}

a div:hover {
  background-color: #eee;
}

dialog {
  margin-top: 20px;
  overflow-x: auto;
  width: calc(100% - 20px);
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.175);
  border-radius: 0.5rem;
  outline: 0;
  padding: 0;
}

dialog::backdrop {
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);
}

.sidebarMenu {
  width: 14vw;
}

.responsiveContainer {
  margin-left: 14vw;
}

.responsiveHeader {
  display: initial;
}

.responsiveBadgeNotification {
  font-size: 0.4em !important;
  margin-top: 12px;
  margin-right: 20px;
}

.responsiveMenu {
  display: none;
}

.link-decoration-none > a {
  text-decoration: none;
  color: initial;
  font-weight: 500;
}

.activity-header td {
  background-color: #e9f3fc !important;
}

.activity-item {
  background-color: transparent;
  border: none;
}

.activity-bold {
  font-weight: bold;
}

.percentage-input {
  position: relative;
  display: inline-block;
}

.percentage-input input {
  margin-right: -15px;
}

.percentage-input::after {
  content: "%";
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

@media only screen and (max-width: 1280px) {
  .sidebarMenu {
    display: none;
  }

  .responsiveContainer {
    margin-left: 0;
  }

  .responsiveHeader {
    display: none;
  }

  .responsiveBadgeNotification {
    font-size: 0.45em !important;
    margin-top: 12px;
    margin-right: 75px;
  }

  .responsiveMenu {
    display: initial;
  }
}

/* Header navigation bar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4%;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 80px;
  box-shadow: 0px 4px 16px rgba(77, 77, 77, 0.2);
  z-index: 1000;
}

/* Logo styling */
.logo img {
  width: 170px;
  height: 40px;
}

/* Button container */
.btnlogindaftar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Daftar button styling */
.daftar {
  background-color: #0A5EA8;
  color: white;
  font-weight: 600;
  border: none;
  cursor: pointer;
  padding: 8px 25px;
  border-radius: 12px;
  transition: background-color 0.3s;
}

/* Responsive design */
@media (max-width: 1024px) {
  
  .logo img {
    width: 160px;
  }

  .menu-profile-container {
    flex-direction: column;
  }
}

/* Responsive design for mobile */
@media (max-width: 768px) {
  .btnlogindaftar {
   
    width: 100%;
  }

  .logo img {
    width: 160px;
  }
}

.custom-navbar {
  /* background: linear-gradient(to bottom, white, rgb(219, 219, 219));  */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
  width: 150px;
}

@media (max-width: 1024px) { 
  .navbar-brand img {
    width: 100px; 
  }
}

@media (max-width: 768px) { 
  .navbar-brand img {
    width: 80px; 
  }
}

.custom-container {
  width: 95%; 
  margin: 0 auto;
  padding: 20px;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .custom-container {
    width: 98%; 
  }
}

@media (max-width: 768px) {
  .custom-container {
    width: 100%; 
    padding: 15px;
  }
}


.add-title{
  color: #0A5EA8;
}

/* Konten */
/* General Layout */
.meister-container {
  width: 100%;
  margin: 0 auto;
}

/* Section 1 - Hero */
.sec1 {
  background-image: url('../src/assets/bgHero.png');
  display: flex;
  width: 100%;
  margin-top: 55px;
  padding-left: 8%;
  padding-right: 8%;
  background-size: cover;
  background-color: var(--primary-color);
  justify-content: space-between;
  align-items: center;
}

.ucapan {
  width: 50%;
  
  color: white;
}

.ucapan h3 {
  color: #FFF;
  font-size: 1.8rem; /* Use rem for scalability */
}

.ucapan h1 {
  font-weight: bold;
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.5;
  max-width: 1000px;
}

.ucapan p {
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 1rem;
  max-width: 600px;
}

.ucapan button {
  margin-top: 2rem;
  width: 70%;
  max-width: 280px;
  height: 60px;
  border-radius: 35px;
  background-color: white;
  color: var(--primary-color);
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
  border: none;
}

.ucapan button:hover {
  background-color: var(--primary-color);
  color: white;
  transition-duration: 0.5s;
  transform: translateY(-3px);
}

.imgDatang {
  /* width: 27%; */
  display: flex;
  
}

.imgDatang img {
  max-width: 100%;
  height: auto;
}

/* Partner Logos Section */
.sec6 {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: white;
  padding: 0 20px;
}

.partners {
  display: flex;
  justify-content: center;
  gap: 250px;
}

.partners img {
  max-width: 150px;
  height: auto;
}

/* AstraTech Info Section */
.sec4 {
  background-image: url('../src//assets/GedungAstra.png');
  background-size: cover; /* Ensures the image covers the entire section */
  background-position: center center; /* Ensures the image is centered */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  width: 100%; /* Full width of the section */
  height: 150vh; /* Adjusted height */
  color: white;
  text-align: center;
  padding: 60px 20px; /* Adjust padding for mobile responsiveness */
}

.sec4 h4 {
  font-weight: bold;
  font-size: 1.5rem;
}

.sec4 p {
  font-size: 1rem;
  margin: 10px 0;
}

.sec4 button {
  background-color: #005BAA;
  border: none;
  color: white;
  padding: 10px 20px;
  font-weight: 600;
  border-radius: 10px;
}


/*------------------------------------------*/
/* Hero Section - Responsif */
@media (max-width: 1024px) {
  .sec1 {
  margin-top: 80px;
  }

  .ucapan h3 {
    font-size: 1.5rem;
    margin-top: 20px;
  }
  
  .ucapan h1 {
      
      font-size: 2.5rem;
  }

  .ucapan p {
      font-size: 1.2rem;
  }

  .ucapan button {
      width: 90%;
      max-width: 300px;
  }

  .imgDatang {
      margin-top: 20px;
      
  }
}


/* Media Queries for mobile responsiveness */
@media (max-width: 768px) {
  .sec1 {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: auto;
  }

  .ucapan {
      width: 100%;
      text-align: center;
  }

  .ucapan h3 {
    font-size: 1.3rem;
   
  }
  .ucapan h1 {
      margin-top: 0;
      font-size: 2rem;
  }

  .ucapan p {
      font-size: 1rem;
  }

  .ucapan button {
      width: 100%;
  }

  .imgDatang {
      max-width: 100%;
  }



  .sec4 {
      padding: 40px 20px;
      
  }

  .sec4 h4 {
      font-size: 1.25rem;
  }

  .sec4 p {
      font-size: 0.9rem;
      margin: 10px 0;
  }
}

/* Partner Logos Section - Responsif */
@media (max-width: 1024px) {
  .partners {
      gap: 150px;
  }

  .partners img {
      max-width: 150px;
  }
}

@media (max-width: 768px) {
  .partners {
      flex-direction: column;
      align-items: center;
      gap: 20px;
  }

  .partners img {
      max-width: 400px;
  }
}

/* AstraTech Section */
@media (max-width: 1024px) {
  .sec4 {
      width: 100%;
      padding: 50px 20px;
  }

  .sec4 h4 {
      font-size: 1.5rem;
  }

  .sec4 p {
      font-size: 1rem;
  }

  .sec4 button {
      padding: 10px 15px;
  }
}




/* Base Footer Styles */
footer {
  background-color: white;
  font-family: Arial, sans-serif;
  padding: 40px 59px;
  box-shadow: 0px -8px 8px rgba(202, 202, 202, 0.397);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 0 auto;
}

.footer-container div {
  flex: 1;
  margin: 10px;
  text-align: left;
}

.footer-container div h3 {
  color: #005BAA;
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-container div p {
  color: #005BAA;
  font-size: 16px;
  margin: 15px 0;
}

.footer-container div p a {
  color: #005BAA;
  text-decoration: none;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons a {
  color: #005BAA;
  font-size: 36px; /* Increased font size */
  margin: 0 10px;
}

.footer-bottom {
  margin-top: 20px;
  color: #005BAA;
  font-size: 14px;
  text-align: center;
}

/* Adjustments for smaller screens */
@media (max-width: 1024px) {
  footer {
    padding: 30px 40px;
  }

  .footer-container div {
    flex: 1 1 100%; /* Allow columns to stack on smaller screens */
    text-align: center;
  }

  .footer-container div h3 {
    font-size: 16px;
  }

  .footer-container div p {
    font-size: 14px;
  }

  .social-icons {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  footer {
    padding: 20px 0;
  }

  .footer-container div {
    flex: 1 1 100%;
  }

  .footer-container div h3 {
    font-size: 14px;
  }

  .footer-container div p {
    font-size: 12px;
  }

  .social-icons a {
    font-size: 30px;
  }

  .footer-bottom {
    font-size: 12px;
  }
}

.swal-confirm-btn {
  background-color: #008f21 !important;
  color: white !important;
}